.pokemons-list {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px 5px lightgrey;
  clip-path: inset(0 -15px 0 -15px);
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  display: block;
  width: 18%;
  box-sizing: border-box;
  box-shadow: 0 0 5px dimgray;
  padding: 8px;
  height: 200px;
}
